.form {
  margin: 0 auto;
  background-color: $color-blue;
  padding-bottom: 53px;
}

.form__container {
  width: 100%;
  max-width: 1528px;
  margin: 0 auto;
  display: flex;
}

.form__image {
  padding-top: 72px;
}

.form__img {
  display: block;
  width: 100%;
}

.form__popup {
  width: 569px;
  color: #ffffff;
  padding: 44px 0 59px 80px;
  background-color: $color-blue;
  overflow: hidden;
  border: none;
}

.form * {
  outline: none;
}

.form__body {
  position: relative;
}

.form__body br {
  // display: none;
}

.form__body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease 0s;
}

.form__popup h3 {
  width: 100%;
  font-size: 36px;
  line-height: 50.63px;
  font-weight: 400;
  margin: 0;
  padding-top: 32px;
}

.form__popup p {
  width: 76%;
  margin-bottom: 55px;
}

.form__wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}

.form__item {
  width: 47%;
}

.form__item input {
  width: 100%;
  min-height: 50px;
  padding: 0 13px;
  transition: all 0.5s ease 0s;
  color: $color-text;
  background-color: rgba(23, 231, 231, 0.5);
  border: none;
}

.form__item input:focus {
  box-shadow: 0 0 15px #e5e5e5;
}

.checkbox.error label::before {
  box-shadow: 0 0 15px #ff0000;
}

.form__item input.error {
  box-shadow: 0 0 15px red;
}

textarea {
  width: 100%;
  min-height: 154px;
  background-color: rgba(23, 231, 231, 0.5);
  color: #ffffff;
  line-height: 21.5px;
  border: none;
}

.form__text textarea {
  color: $color-text;
}

.form__bottom {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.form__bottom button {
  width: 270px;
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 16.41px;
  font-weight: 700;
  color: $color-text;
  background-color: $color-blue;
  border: 1px solid $color-text;
  border-radius: 5px;
  box-sizing: border-box;
  text-align: center;
  padding: 15px 0;
  cursor: pointer;
  transition: background-color 0.5s ease 0s;
}

.checkbox {
  width: 46%;
  margin-top: 10px;
}

.checkbox label {
  font-size: 14px;
  line-height: 16px;
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  width: 100%;
}

.checkbox label::before {
  content: "";
  transition: all 0.5s ease 0s;
  align-self: flex-start;
  flex: 0 0 17px;
  height: 17px;
  margin: 0 18px 0 10px;
  border: 1px solid $color-text;
}

.checkbox input:checked + label::after {
  content: "";
  width: 6px;
  height: 10px;
  transform: rotate(40deg);
  background-color: $color-blue;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  margin: 0;
  background-position: center;
  display: inline-block;
  vertical-align: top;
  z-index: 5;
  position: absolute;
  left: 16px;
  top: 2px;
}

.form__button {
  width: 303px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 43px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.5s ease 0s;
  position: relative;
  top: 8px;
}

.form__button:hover {
  opacity: 0.3;
}

.form__button:active {
  opacity: 0.5;
}

@media (max-width: $desk-width-only-min) {
  .form__image {
    display: none;
  }

  .form__popup {
    margin: 0 auto;
    padding-left: 0;
}
}

@media (max-width: $tablet-width) {
  .form {
    padding-bottom: 43px;
  }

  .form__img {
    display: none;
  }

  .form__container {
    padding: 0;
  }

  .form__popup h3 {
    width: 87%;
    font-weight: 400;
    font-size: 32px;
    line-height: 45px;
    margin-top: 0;
  }

  .form__popup {
    padding-top: 96px;
  }

  .form__popup p {
    width: 76%;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 55px;
    padding-left: 5px;
  }

  .form__item input {
    padding: 0 24px;
  }

  textarea {
    min-height: 162px;
    padding-left: 24px;
    padding-top: 14px;
  }

  .form__bottom {
    margin-top: 40px;
  }
}
@media (max-width: $mobile-width) {
  .form {
    padding-bottom: 34px;
  }

  .form__popup {
    width: 100%;
    padding: 34px 0 0 0;
  }

  .form__popup h3 {
    width: 100%;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;
    margin-bottom: 0;
  }

  .form__popup p {
    width: 80%;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 25px;
  }

  .form__wrap {
    flex-direction: column;
    padding-bottom: 29px;
  }

  .form__item {
    width: 100%;
    margin-top: 28px;
  }

  .form__item input {
    padding: 0 18px;
    min-height: 52px;
  }

  textarea {
    min-height: 106px;
  }

  .form__bottom {
    margin-top: 26px;
    flex-direction: column;
  }

  .checkbox {
    width: 100%;
    margin-top: 28px;
  }

  .checkbox label::before {
    content: "";
    height: 17px;
    margin: 0 17px 0 0px;
  }

  .checkbox input:checked + label::after {
    content: "";
    left: 6px;
  }
}
