.service {
  width: 100%;
  margin-top: 100px;
  background-color: $background-color;
  padding-bottom: 123px;
}

.service__list {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.service__container {
  margin: 0 auto;
}

.service__container h2 {
  font-size: 36px;
  line-height: 37.62px;
  font-weight: 400;
  max-width: 880px;
  color: $color-text;
  padding-top: 93px;
}

.service__wrap {
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

.service__list li {
  display: block;
  width: 370px;
  min-height: auto;
  margin-top: 30px;
  position: relative;
}

.service__list p {
  font-size: 20px;
  line-height: 30px;
  max-width: 170px;
  font-family: "RobotoCondensed", "Arial", sans-serif;
  color: $color-text;
  position: absolute;
  z-index: 2;
  top: 31px;
  left: 44px;
}

.service__img {
  width: 100%;
  display: block;
}

.service__link {
  display: block;
  position: relative;
}

.service__link::before {
  content: "";
  background-color: $color-blue;
  position: absolute;
  z-index: -1;
}
//background-color: $color-blue;
/* position: relative;
  width: 8px;
  height: 4px;
  display: block;
  background-image: url("../img/icon-array.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transform: rotate(-90deg);
  // color: $color-text;
 // z-index: 3;
  // box-shadow: 0 0 0 28px $color-blue;
  // bottom: 34px;
  // right: 27px;
}

/*.service__link::before {
  position: absolute;
  background-color: $color-blue;

  width: 50px;
  height: 50px;
  z-index: -1;

  &:hover,
  &:focus,
  &:active {
    // transition: background-color 0.5s ease 0s;
    opacity: 0.1;
  }
}*/

.service__link-item {
  display: block;

  &:hover,
  &:focus,
  &:active {
    opacity: 0.5;
  }
}

@media (max-width: $desk-width-only-min) {
  .service__container {
    width: 100%;
    max-width: 1000px;
  }

  .service__list li {
    width: 300px;
  }
}

@media (max-width: $tablet-width) {
  .service {
    margin-top: 80px;
    padding-bottom: 32px;
  }

  .service__container h2 {
    font-size: 32px;
    line-height: 45px;
    max-width: 630px;
    padding: 50px 0 22px;
  }

  .service__list li {
    width: 100%;
    min-height: auto;
    margin: 0 0 45px 0;
  }

  .service__img {
    display: block;
    width: 100%;
    height: 257px;
  }

  .service__list p {
    top: 22px;
  }

  .service__link {
    bottom: 31px;
  }
}

@media (max-width: $mobile-width) {
  .service {
    margin-top: 58px;
    padding-bottom: 15px;
  }

  .service__container h2 {
    font-size: 28px;
    line-height: 40px;
    font-weight: 400;
    max-width: 300px;
    padding: 50px 0 18px 11px;
  }

  .service__img {
    height: 255px;
  }

  .service__list li {
    margin: 0 0 30px 0;
  }
}
