.trip-top {
  width: 100%;
  position: relative;
  margin: 0 auto;
  top: -70px;
  min-height: 876px;
  background-color: $background-color;
  background-image: url("../img/font-desk.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  left: 0;
  display: block;
  z-index: -1;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/font-desk2.png");
    background-size: cover;
  }
}

.trip-top__wrap {
  width: 100%;
  max-width: 1920px;
  padding-left: 249px;
  padding-right: 177x;
  margin: 0 auto;
position: relative;
}

.trip-top__container::after {
  content: "";
  display: block;
  position: absolute;
  width: 843px;
  min-height: 690px;
  background-image: url(../img/card-desk.png);
  top: 93px;
  left: 50%;
  //transform: translateX(180px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  z-index: -1;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
     background-image: url("../img/card-desk2.png");
    background-size: cover;
  }
}

.trip-top__container {
  width: 49%;

  //transform: translateX(249px);
  padding-top: 312px;
}



.trip-top__container h1 {
  width: 100%;
  margin: 0;
  font-size: 80px;
  line-height: 94px;
  font-weight: 700;
  color: $color-text;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  margin-bottom: 28px;
}

.trip-top__container p {
  width: 100%;
  font-size: 22px;
  line-height: 34.5px;
  color: $color-text;
  margin: 0;
  padding-left: 100px;
}
.trip-top__block br {
  display: none;
}

.trip-top__block {
  width: 80%;
  position: relative;
}

.trip-top__block::before {
  content: "";
  border-top: 2px solid $color-text;
  width: 66px;
  top: 14px;
  margin-bottom: 0;
  float: left;
  position: absolute;
  margin-right: 29px;
}

.trip-top__button {
  width: 405px;
  display: inline-block;
  line-height: 18.75px;
  text-transform: uppercase;
  font-weight: 700;
  color: $color-text;
  background-color: $color-blue;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  padding: 19px;
  margin: 43px 100px 0;
  letter-spacing: 0.05em;
}

.button-two {
  display: none;
}

@media (max-width: $tablet-width) {
  .trip-top {
    width: 100%;
    top: -151px;
    min-height: 789px;
    background-image: url("../img/font-tablet.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/font-tablet2.png");
      background-size: cover;
    }
  }

  .trip-top__block::before {
    content: "";
    width: 32px;
    margin-right: 21px;
  }

  .trip-top::after {
    content: "";
    width: 320px;
    min-height: 430px;
    // background-image: url("../img/card-tablet.png");
    top: 146px;
    transform: translateX(20%);
    right: 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      //  background-image: url("../img/card-tablet2.png");
      background-size: cover;
    }
  }

  .trip-top__container {
    width: 53%;
    left: 89px;
    top: 291px;
  }

  .trip-top__container p {
    width: 100%;
    font-size: 18px;
    line-height: 27px;
  }

  /* .trip-top__one::before {
    content: "";
    width: 33px;
    top: 14px;
    margin-bottom: 0;
    float: left;
    position: relative;
    margin-right: 17px;
  }

  .trip-top__two {
    padding-left: 50px;
  }*/

  .trip-top__container h1 {
    font-size: 60px;
    line-height: 70px;
  }
}

@media (max-width: $mobile-width) {
  .trip-top {
    top: -59px;
    min-height: 647px;
    background-image: url("../img/font-mobile.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/font-mobile2.png");
      background-size: cover;
    }
  }

  .trip-top::after {
    content: "";
    width: 71%;
    min-height: 438px;
    // background-image: url("../img/card-mobile.png");
    right: 0;
    z-index: -1;
    top: 0;
    transform: translateX(-25%);
    left: 50%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      // background-image: url("../img/card-mobile2.png");
      background-size: cover;
    }
  }

  .trip-top__container {
    width: 100%;
    left: 14px;
    top: 286px;
  }

  .trip-top__block br {
    display: none;
  }

  .trip-top__container h1 {
    font-size: 40px;
    line-height: 46.88px;
    max-width: 265px;
    margin-bottom: 29px;
  }

  .trip-top__container p {
    max-width: 100%;
    font-size: 16px;
    line-height: 25.09px;
    padding-left: 52px;
  }

  .trip-top__button {
    width: 290px;
    margin: 0;
    margin-top: 39px;
  }

  .button-one {
    display: none;
  }

  .button-two {
    display: block;
  }
}
