.trip-top {
  width: 100%;
  margin-top: -87px;
  min-height: 877px;
  background-color: $background-color;
  background-image: url("../img/font-desk.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  display: block;
  position: relative;
  z-index: -2;
}

.trip-top__wrap {
  width: 100%;
  margin: 0 auto;
}

.trip-top::before {
  content: "";
  position: absolute;
  width: 819px;
  min-height: 714px;
  background-image: url("../img/card-desk.png");
  left: 50%;
  top: 98px;
  -webkit-transform: translateX(-42px);
  transform: translateX(-42px);
  background-size: cover;
  z-index: 2;
  position: top center;
  background-position: top center;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/card-desk2.png");
    background-size: cover;
  }
}

.trip-top__column {
  width: 60%;
  padding-left: 250px;
  position: absolute;
  z-index: 2;
  color: #ffffff;
  top: 232px;
}

.trip-top h1 {
  max-width: 720px;
  font-size: 80px;
  line-height: 93px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  padding-left: 100px;
  padding-top: 18px;
  margin-bottom: 27px;
}

.trip-top p {
  max-width: 720px;
  font-size: 22px;
  line-height: 34.5px;
  // color: $color-text;
  margin: 0;
  padding-left: 100px;
  position: relative;
}

.trip-top__button {
  width: 405px;
  display: inline-block;
  line-height: 18.75px;
  text-transform: uppercase;
  font-weight: 700;
  color: $color-text;
  background-color: $color-blue;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
  padding: 18px;
  margin: 43px 100px 0;
  letter-spacing: 0.02em;
}

/*@media (max-width: $desk-width-only-max) {
  .trip-top__column {
    padding-left: 150px;
  }

  .trip-top::before {
    content: "";
    width: 719px;
    min-height: 628px;

  }
}*/

@media (max-width: $desk-width-only-min) {
  .trip-top {
    margin-top: -75px;
  }

  .trip-top__column {
    width: 55%;
    padding-left: 150px;
  }

  .trip-top h1,
  .trip-top p {
    padding-left: 0;
    max-width: 520px;
  }

  .trip-top::before {
    content: "";
    width: 530px;
    min-height: 430px;
    transform: translateX(-65px);
    top: 200px;
}

.trip-top__button {
margin-left: 0;
}
}

@media (max-width: $tablet-width) {
  .trip-top {
    width: 100%;
    margin-top: -72px;
    padding-top: 45px;
    min-height: 610px;
    background-image: url("../img/font-tablet.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/font-tablet2.png");
      background-size: cover;
    }
  }

  .trip-top::before {
    content: "";
    width: 319px;
    min-height: 431px;
    background-image: url("../img/card-tablet.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/card-tablet2.png");
      background-size: cover;
    }
  }

  .trip-top__column {
    width: 67%;
    padding-left: 88px;
    top: 120px;
  }

  .trip-top__column p::before {
    content: "";
    width: 32px;
    left: 4px;
    top: 17px;
  }

  .trip-top h1 {
    max-width: 720px;
    font-size: 60px;
    line-height: 70.31px;
    padding-top: 18px;
    margin-bottom: 27px;
  }

  .trip-top p {
    max-width: 387px;
    font-size: 18px;
    line-height: 30.5px;
    padding-left: 51px;
  }

  .trip-top__button {
    width: 379px;

    padding: 18px;
    margin: 54px 50px 0;
    letter-spacing: 0.02em;
  }
}

@media (max-width: $mobile-width) {
  .trip-top {
    top: -59px;
    min-height: 647px;
    background-image: url("../img/font-mobile.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/font-mobile2.png");
      background-size: cover;
    }
  }

  .trip-top::after {
    content: "";
    width: 71%;
    min-height: 438px;
    // background-image: url("../img/card-mobile.png");
    right: 0;
    z-index: -1;
    top: 0;
    transform: translateX(-25%);
    left: 50%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      // background-image: url("../img/card-mobile2.png");
      background-size: cover;
    }
  }

  .trip-top__container {
    width: 100%;
    left: 14px;
    top: 286px;
  }

  .trip-top__block br {
    display: none;
  }

  .trip-top__container h1 {
    font-size: 40px;
    line-height: 46.88px;
    max-width: 265px;
    margin-bottom: 29px;
  }

  .trip-top__container p {
    max-width: 100%;
    font-size: 16px;
    line-height: 25.09px;
    padding-left: 52px;
  }

  .trip-top__button {
    width: 290px;
    margin: 0;
    margin-top: 39px;
  }

  .button-one {
    display: none;
  }

  .button-two {
    display: block;
  }
}
