$font-family: "PT Mono", "Arial", sans-serif;

$color: #666666;
$background-color: #1b2d37;
$color-blue: #00b2ff;
$color-text: #ffffff;
$font-size: 16px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;


$tablet-width: 1169px;
$mobile-width: 767px;
//$desk-width-only-max: 1760px;
$desk-width-only-min: 1550px;
